@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
.Main-container {
  position: absolute;
  top: 23%;
  left: 38%;
  display: flex;
  border: solid 1px grey;
  flex-direction: column;
  gap: 0.1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #fff;
}
.copyClipboard {
  cursor: pointer;
  background: rgba(255, 136, 0, 0.755);
  padding: 6px;
  color: #fff;
  transition: all ease 300ms;
  border-radius: 0.5rem;
}
.copyClipboard:active {
  background: rgba(0, 255, 0, 0.509);
}
.css-ke5b6m-MuiButtonBase-root-MuiButton-root {
  font-weight: 600 !important;
}
.css-ahj2mt-MuiTypography-root {
  font-family: "Inter", sans-serif !important;
}
.MuiFormControl-root {
  width: 323px !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  font-size: 14px !important;
  font-weight: bold !important;
}

.css-1pnmrwp-MuiTypography-root {
  font-weight: bold !important;
  font-size: 0.9rem !important;
  color: rgba(151, 151, 151, 0.6) !important;
}
